<nav class="navbar fixed-top navbar-expand-lg navbar-light">

  <a class="navbar-brand px-3" href="#">
    <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top">
    Home
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse px-3" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown px-1">
        {% if page.title == "About" %}
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
        {% else %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
        {% endif %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#work">Work</a>
          <a class="dropdown-item" href="#hobbies">Hobbies</a>
        </div>
      </li>

      <li class="nav-item px-1"></li>
        {% if page.title == "Projects" %}
          <a class="nav-link active" href="#projects">Projects</a>
        {% else %}
          <a class="nav-link" href="#projects">Projects</a>
        {% endif %}
      </li>

      <li class="nav-item px-1"></li>
        {% if page.title == "Notes" %}
          <a class="nav-link active" href="#notes">Study w/ Me</a>
        {% else %}
          <a class="nav-link" href="#notes">Study w/ Me</a>
        {% endif %}
      </li>

    </ul>
  </div>
</nav>
