// Included for all pages

/*################
  Smooth scrolling
  ################*/
  html {
    scroll-behavior: smooth;
  }

/*########################################### 
  Navbar transition fron transparent to color 
  ###########################################*/
.navbar {
  box-shadow: none !important;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.nav-link dropdown-toggle {
  color: #00000080;
}

.navbar.scrolled { 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22) !important;
  background: #f3fbff
}