/* Navbar transition from transparent to color*/
.navbar {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.navbar.scrolled { 
  
  background: #f3fbff
}

/* Landing page hero image */
#hero {
  width: 100%;
  height: 75vh;
  background: url("/static/landing.jpg") top right;
  background-size: cover;
  position: relative;
}

#hero h1 {
  color:white; 
  font-size:58px
}

#hero p {
  color:black;
  font-size:20px; 
  font-family:'Trebuchet MS', sans-serif; 
  position: relative; 
  top:-5px;
}

/* Rest of landing page sections */
.section-title {
  text-align: center;
  padding-top: 30px;
}

.section-title h1 {
  font-size: 20px;
  color: #636C73;
  margin-top: 5px;
  margin-bottom: 50px;
}

.title-overline {
  width: 60px;
  height: 1px;
  margin: 20px auto 0;
  border-bottom: 2px solid #2693fa;
}

.content span {
  color: #2694fa;
  font-weight: 700;
}

.content ul span {
  color: #e7abe7
}

.btn-outline-primary {
  border-radius: 30%;
  color: #2694fa;
}

.btn-outline-primary:hover {
  background-color: #2694fa;
}